Repository Marcus-Rise/room-scheme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, lint, audit, test

install:
  stage: install
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: push
  script:
  - npm ci

lint:
  stage: analize
  dependencies:
  - install
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: pull
  script:
  - npm run lint

audit:
  stage: analize
  dependencies:
  - install
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: pull
  script:
  - npm audit
  allow_failure: true

test:
  stage: test
  dependencies:
  - lint
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: pull
  script:
  - npm run test:unit

chore
  package-lock.json
  package.json
Due: install, audit

style(vue.config.js)
  vue.config.js
Due: none

ci(.gitlab-ci.yml)
  .gitlab-ci.yml
Due: none

0.0.1
  package-lock.json
  package.json
Due: install, audit

ci
  CHANGELOG.md
  LICENSE.md
  package.json
Due: none

0.0.2
  package-lock.json
  package.json
Due: install, audit

docs(README.md)
  README.md
Due: none

ci(vue.config.js): vue script
  vue.config.js
Due: none

refactor(Selectable.vue): rename
  src/App.vue
  src/components/Selectable.vue
Due: lint, test

refactor: rename components
  src/App.vue
  src/components/LayoutCmpt.vue
  src/components/SelectableCmpt.vue
Due: lint, test

build(.browserslistrc)
  .browserslistrc
Due: none

build(App.vue)
  src/App.vue
Due: lint, test

fix(SelectableCmpt.vue): hover
  src/components/SelectableCmpt.vue
Due: lint, test

ci(vue.config.js): demo html
  vue.config.js
Due: none

test(data.json): far object
  src/data.json
Due: lint, test

perf(App.vue): delete div
  src/App.vue
Due: lint, test

refactor(LayoutCmpt.vue)
  src/components/LayoutCmpt.vue
Due: lint, test

0.0.3
  package-lock.json
  package.json
Due: install, audit

build(vue.config.js): fix demo
  vue.config.js
Due: none

0.0.4
  package-lock.json
  package.json
Due: install, audit

fix(LayoutCmpt.vue)
  src/components/LayoutCmpt.vue
Due: lint, test

0.0.5
  package-lock.json
  package.json
Due: install, audit

feat(App.vue): add editor prop
  src/App.vue
  src/main.ts
  vue.config.js
Due: lint, test

ci: dev mode
  src/App.vue
  src/AppWrapper.vue
  src/main.ts
Due: lint, test

chore(App.vue)
  src/App.vue
Due: lint, test

feat(CharacterCmpt.vue): selectable
  src/components/Character/CharacterCmpt.vue
  src/components/SelectableCmpt.vue
Due: lint, test

feat(ChairCharacter.vue): event
  src/components/Character/ChairCharacter.vue
  src/components/Character/CharacterCmpt.vue
Due: lint, test

feat(CharacterCmpt.vue): types
  src/components/Character/CharacterCmpt.vue
Due: lint, test

feat(Editor.vue)
  src/App.vue
  src/components/Editor.vue
Due: lint, test

feat(AppWrapper.vue): test chair choosing
  src/AppWrapper.vue
Due: lint, test

feat: slot
  src/components/Character/ChairCharacter.vue
  src/components/Character/CharacterCmpt.vue
  src/components/Character/SimpleCharacter.vue
Due: lint, test

feat: add icons
  package-lock.json
  package.json
Due: install, audit

feat(MoveCharacter.vue)
  src/components/Character/CharacterCmpt.vue
  src/components/Editor.vue
  src/components/MoveCharacter.vue
Due: lint, test

feat(Dropdown.vue)
  src/components/Editor/Dropdown.vue
Due: lint, test

feat(Editor.vue)
  src/components/Editor.vue
  src/components/Editor/Editor.vue
Due: lint, test

feat(CharacterCmpt.vue)
  src/components/Character/CharacterCmpt.vue
Due: lint, test

refactor(App.vue)
  src/App.vue
Due: lint, test

feat(MoveCharacterControls.vue)
  src/components/Editor/Editor.vue
  src/components/Editor/MoveCharacterControls.vue
  src/components/MoveCharacter.vue
  src/models/CharacterType.ts
Due: lint, test

0.0.6
  package-lock.json
  package.json
Due: install, audit

Path conditions:
  install: any of: package-lock.json
  lint: any of: src/**/*, tests/**/*
  audit: any of: package-lock.json
  test: any of: src/**/*, tests/**/*
