Repository Marcus-Rise/room-scheme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, lint, audit, test

install:
  stage: install
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: push
  script:
  - npm ci

lint:
  stage: analize
  dependencies:
  - install
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: pull
  script:
  - npm run lint

audit:
  stage: analize
  dependencies:
  - install
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: pull
  script:
  - npm audit
  allow_failure: true

test:
  stage: test
  dependencies:
  - lint
  cache:
    key: node_modules_cache
    paths:
    - node_modules/
    policy: pull
  script:
  - npm run test:unit

fix(MoveCharacterControls.vue): icons size
  src/components/Editor/MoveCharacterControls.vue
Due: lint, test

ci(package.json): generate report
  package.json
Due: none

0.0.7
  package-lock.json
  package.json
Due: install, audit

build(package.json): target
  package.json
Due: none

0.0.8
  package-lock.json
  package.json
Due: install, audit

Path conditions:
  install: any of: package-lock.json
  lint: any of: src/**/*, tests/**/*
  audit: any of: package-lock.json
  test: any of: src/**/*, tests/**/*
